@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;1,100;1,200&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    background: #0B2469;
}

html {
    scroll-behavior: smooth;
}

.contenido{
    width: 100vw;
    height: 100vh;
    background-color: #0B2469;
    color: antiquewhite;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.logo{
    margin-top: 7px;
    margin-left: 7px;
}

.logo span{
    color: rgb(8, 218, 89);
}

.menu li {
    list-style: none;
}

.menu a {
    color: rgb(207, 194, 231);
    text-decoration: none;
    padding: 10px 20px; 
}

.menu li:hover a {
    background-color: rgb(204, 168, 69);
    color: #191c32;
}

.menu li a:hover {
    color: #dbd7d7;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em; 
    color: antiquewhite;
}

h1 {
    font-size: 3em;
}

.main img {
    border:  7px solid rgb(248, 196, 136);
    width: 350px;
    height: 500px;
    z-index: 1;
    border-radius: 15%;
}

.acercademi {
    background-color: #2c3c69;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.acercademi img {
    width: 100%;
    grid-column: 1/5;
    border-radius: 15%;
}

.descripcionpropia {
    background-color: #2c3c69;
    grid-column: 5/10;
    padding: 3em;
}

.descripcionpropia h2 {
    font-size: 2em;
    color: bisque;
}

.division {
    height: 4px;
    width: 60px;
    background-color: rgb(190, 106, 10);
    margin-top: 5px;
    margin-bottom: 2em;
}

.acercademi p {
    margin-top: 1em;
}

.portafolio,
.contacto {
    width: 100vw;
    background-color: #191c32;
    color: #dbd7d7;
}

.encabezadoportafolio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encabezadoportafolio h2 
.header_contacto h2 {
    font-size: 2.5em;
    color: #dbd7d7;
}

.portafolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    width: 300px;
    height: 500px;
    background-color: #2c3c69;
    background-image: url(https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543491/samples/2-original_agisst.png);
    margin: 1em;
}

.tarjeta img {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.titulo_tarjeta {
    padding: 20px;
}

.links_tarjeta {
    display: flex;
    justify-content: space-evenly;
}

.links_tarjeta a {
    color: #dbd7d7;
}

.links_tarjeta i {
    font-size: 1.5em;
}

.button-info_proyecto {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.detalle_proyecto {
    text-decoration: none;
    color: #3f5ba8;
}

.contacto {
    padding: 3em;
}

.container_contacto {
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.container_contacto img{
    width: 750px;
    height: 700px;
    bottom: 0px;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px rgb(248, 196, 136) ;
    color: rgb(248, 196, 136);
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px rgb(248, 196, 136);
    color: rgb(248, 196, 136);
}

.form-group .enviar {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(197, 190, 89);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: rgb(59, 81, 143);
}

.contenido_footer h2 {
    font-size: 3em;
}

.contenido_footer h5 {
    font-size: 1.5em;
    text-align: center;
}

.redes_sociales {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.redes_sociales i {
    font-size: 1.5em;
}

.portafolio,
.contacto {
    width: 100vw;
    background-color: #0B2469;
    color: #dbd7d7;
}

.encabezadoportafolio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

.encabezadoportafolio h2,
.contacto h2 {
    font-size: 2.5em;
    color: #dbd7d7;
}

.portafolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    width: 300px;
    background-color: #0B2469;
    margin: 1em;
}

.titulo_tarjeta {
    padding: 20px;
}

.links_tarjeta {
    display: flex;
    justify-content: space-evenly;
}

.links_tarjeta a {
    color: #dbd7d7;
    text-decoration: none;
}

.links_tarjeta i {
    font-size: 1.5em;
}

.info_proyecto {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 10px 20px;
    background-color: rgb(223, 187, 27);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.detalle_proyecto a {
    display: flex;
    text-decoration: none;
    color: #0a0a0a;
}

.contacto {
    padding: 3em;
}

.container_contacto {
    margin: 0 auto;
    margin-top: 10em;
}

.contacto img {
    width: 750px;
    height: 700px;
    bottom: 0px;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.info_proyecto a {
    text-decoration: none;
}

.instagram {
    display: flex;
    width: 50px;
    height: 50px;
}

.facebook {
    display: flex;
    width: 50px;
    height: 50px;
}

.whatsapp {
    display: flex;
    width: 45px;
    height: 45px;
}

.links_tarjeta {
    display: flex;
    justify-content: space-evenly;
}