@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;1,100;1,200&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    background: #0B2469;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #0B2469;
    color: antiquewhite;
}

.portafolio {
    width: 100vw;
    height: 100vh;
    background-color: #0B2469;
    color: antiquewhite;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.brand span{
    color: rgb(8, 218, 89);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: rgb(207, 194, 231);
    text-decoration: none;
    padding: 10px 20px; 
}

.menu a:hover {
    background-color: #dbd7d7;
    color: #0a0a0a;
}

.menu .active {
    color: aqua;
}

.menu li:hover a {
    background-color: rgba(180, 161, 109, 0.212);
    color: #191c32;
}

.menu li a:hover {
    color: #f3a109;
    transition: ease-in .4s;
}

.toggle-menu {
    display: none;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em; 
    color: antiquewhite;
}

h1 {
    color: #dbd7d7  ;
    font-size: clamp(4vw, 11.5em, 3em);
}

.main img {
    border:  7px solid rgb(248, 196, 136);
    width: 350px;
    height: 500px;
    z-index: 1;
    border-radius: 15%;
}

.about {
    background-color: #2c3c69;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
    border-radius: 15%;
}

.about-info {
    background-color: #2c3c69;
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: bisque;
}

.about-info p {
    color: antiquewhite;
}

.division {
    height: 4px;
    width: 60px;
    background-color: rgb(190, 106, 10);
    margin-top: 5px;
    margin-bottom: 2em;
}

.ver-cv {
    padding: 10px 20px;
    background-color: rgb(190, 106, 10);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.about-info p {
    margin-top: 1em;
}

.portafolio {
    width: 100vw;
    background-color: #191c32;
    color: #dbd7d7;
}

.portafolio-headings {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.portafolio-headings h2  {
    font-size: 2.5em;
    color: #dbd7d7;
}

.portafolio .container  {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    height: 350px;
    background-color: #2c3c69;
    background-size: cover;
    margin: 1em;
}

.card__img {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(img/fonod\ tarjeta.png);
}

.card__title {
    padding: 20px;
}

.card__proyect-links {
    display: flex;
    justify-content: space-evenly;
}

.card__proyect-links a {
    color: #dbd7d7;
    text-decoration: none;
}

.card__proyect-links i {
    font-size: 1.5em;
}

.card .info_proyecto {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.card .info_proyecto a{
    text-decoration: none;
    color: #dbd7d7;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.info_proyecto {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.info_proyecto{
    text-decoration: none;
    color: #3f5ba8;
}

.contact-section {
    padding: 3em;
}

.container_contact {
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.container_contact img{
    width: 50px;
    height: 50px;
    bottom: 0px;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px rgb(248, 196, 136) ;
    color: rgb(248, 196, 136);
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px rgb(248, 196, 136);
    color: rgb(248, 196, 136);
}

.form-group .enviar {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(197, 190, 89);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: rgb(59, 81, 143);
}

.contenido_footer h2 {
    font-size: 3em;
}

.contenido_footer h5 {
    font-size: 1.5em;
    text-align: center;
}

.redes_sociales {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.redes_sociales i {
    font-size: 1.5em;
}

.portafolio,
.contact-section {
    width: 100vw;
    background-color: #0B2469;
    color: #dbd7d7;
}

.encabezadoportafolio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

.encabezadoportafolio h2,
.contact-section h2 {
    font-size: 2.5em;
    color: #dbd7d7;
}

.portafolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    width: 300px;
    background-color: #0B2469;
    margin: 1em;
}

.titulo_tarjeta {
    padding: 20px;
}

.links_tarjeta {
    display: flex;
    justify-content: space-evenly;
}

.links_tarjeta a {
    color: #dbd7d7;
    text-decoration: none;
}

.links_tarjeta i {
    font-size: 1.5em;
}

.info_proyecto {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 10px 20px;
    background-color: rgb(223, 187, 27);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.detalle_proyecto a {
    display: flex;
    text-decoration: none;
    color: #0a0a0a;
}

.contact-section {
    padding: 3em;
}

.container_contacto {
    margin: 0 auto;
    margin-top: 10em;
}

.contact-section img {
    width: 450px;
    height: 700px;
    bottom: 0px;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.info_proyecto a {
    text-decoration: none;
}

.links_tarjeta {
    display: flex;
    justify-content: space-evenly;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 80vh;
        background-color: #2b3058;
        z-index: 1;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
    }

    .show-menu {
        transform: translateX(0%);
        transition: all 0.5s ease-in-out;
    }

    .menu li {
        margin: 2em;
    }

    .toggle-menu {
        display: block;
    }
    
    .fa-bars {
        font-size: 1.5em;
        margin-top: -0.2em;
    }
    
    .toggle-menu .fa-close {
        font-size: 1.7em;
        display: none;
    }
    
    .main,
    .about {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .main img {
        width: min(40%, 100px);
        height: auto;
    }
    
    .about img {
        width: min(40%, 100px);
        height: auto;
    }

    .info-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .info-content .sotial-networks,
    .info-content__subtitle {
        display: block;
    }
    
    .info-content__subtitle {
        margin-bottom: 0.4em;
    }
    
    .info-content .sotial-networks {
        display: flex;
        justify-content: space-evenly;
    }
    
    .download-cv,
    .info-content__p,
    .contact-section__img {
        display: none;
    }
    
    .form-group {
        width: 80vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: #2b3058;
        z-index: 1;
        transform: translateX(-110%);
        transition: all 0.5s ease-in-out;
    }

    .show-menu {
        transform: translateX(0%);
        transition: all 0.5s ease-in-out;
    }

    .menu li {
        margin: 2em;
    }

    .toggle-menu {
        display: block;
    }
    
    .fa-bars {
        font-size: 1.5em;
        margin-top: -0.2em;
    }
    
    .toggle-menu .fa-close {
        font-size: 1.7em;
        display: none;
    }
    
    .main,
    .about {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .main img {
        width: min(70%, 350px);
        height: auto;
    }
    
    .about img {
        width: min(70%, 350px);
        height: auto;
    }

    .info-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .info-content .sotial-networks,
    .info-content__subtitle {
        display: block;
    }
    
    .info-content__subtitle {
        margin-bottom: 0.5em;
    }
    
    .info-content .sotial-networks {
        display: flex;
        justify-content: space-evenly;
    }
    
    .download-cv,
    .info-content__p,
    .contact-section__img {
        display: none;
    }
    
    .form-group {
        width: 80vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}