@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;1,100;1,200&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    background: #0B2469;
}

html {
    scroll-behavior: smooth;
}

.contenedor-header {
    background: #3209c4;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #dbd7d7;
}


.inicio .contenido-banner img {
    margin-top: 2em;
    border:  7px solid rgb(248, 196, 136);

    margin: auto;

    border-radius: 50%;

    width: 10em;
height: 20em;
}



.nav-responsive {
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.inicio{
    background: linear-gradient(to top, rgba(7, 24, 80, 0.8), rgb(6, 4, 102)),;
    background-size: cover;
    height: 60vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #2273a1;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}



.inicio .contenido-banner img {
    margin-top: 2em;
    border:  7px solid rgb(248, 196, 136);

    margin: auto;

    border-radius: 50%;

    width: 10em;
height: 20em;
}

.inicio .contenido-banner h1 {
  margin-left: auto;
  margin-right: auto;
 margin-top: 1em;
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
margin-left: auto;
  margin-right: auto;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #d5d7ee;
}

.sobremi img {
    max-width: 30%;
    grid-column: 1/5;
    border-radius: 15%;
    transition: .3s;
}

.about-info h2 {
    font-size: 2em;
    color: bisque;
    transition: .3s;
}

.about-info p {
    color: antiquewhite;
    transition: .3s;
}

.division {
    height: 4px;
    width: 60px;
    background-color: rgb(190, 106, 10);
    margin-top: 5px;
    margin-bottom: 2em;
    transition: .3s;
}

.ver-cv {
    padding: 10px 20px;
    background-color: rgb(190, 106, 10);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.about-info p {
    margin-top: 1em;
}

.container  {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto {
    background-color: #120b4b50;
    background-image: url(img/foto\ sin\ fondo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #223394;
    color: #e2cbcb;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2d48c2;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}


.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info u {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #1c33b6;
    display: inline-block;
    margin-right: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: rgb(59, 81, 143);
}

.contenido_footer h2 {
    font-size: 3em;
}

.contenido_footer h5 {
    font-size: 1.5em;
    text-align: center;
}

.contact-section {
    width: 100vw;
    background-color: #0B2469;
    color: #dbd7d7;
}

.encabezadoportafolio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

.encabezadoportafolio h2,
.contact-section h2 {
    font-size: 2.5em;
    color: #dbd7d7;
}


.contact-section {
    padding: 3em;
}

.container_contacto {
    margin: 0 auto;
    margin-top: 10em;
}

.contact-section img {
    width: 450px;
    height: 700px;
    bottom: 0px;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.info_proyecto a {
    text-decoration: none;
}

.links_tarjeta {
    display: flex;
    justify-content: space-evenly;
}


.sobremi {
    display: flex;
    flex-wrap: wrap;
    background-color: #2c3c69;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .about-info {
    max-width: 1100px;
    margin: auto;
}

.sobremi .about-info {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .about-info h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}
.sobremi .about-info p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .about-info p span{
    color: #1CB698;
    font-weight: bold;
}

.sobremi {
    display: flex;
}

.sobremi .col {
    width: 50%;
}

.sobremi .col .contenedor_intereses {
    display: flex;
}

.sobremi .col .contenedor_intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #2b3058;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .col .contenedor_intereses .interes:hover {
    background-color: #f3a10986;
}

.sobremi .col .contenedor_intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.download-cv {
    padding: 10px 20px;
    background-color: #f3a109a1;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.portafolio {
    background-color: #191c32;
    color: #dbd7d7;
    padding: 50px 20px;
}

.portafolio .contact-section {
    max-width: 1100px;
    margin: auto;
}

.portafolio h2 {
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portafolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 77, 182, 0.8), rgba(182, 154, 28, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portafolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

.curriculum {
    background-color: #152166;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .about-info {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #d69e03;
}

.curriculum .fila .derecha {
    border-left: 2px solid #d69e03;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #4e32079c;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #b6731c;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #b6731c;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

.arriba {
    color: #ebc20f;
    transform: translateX(-50%);
}

@media only screen and (max-width:980px) {

    .inicio .contenido-banner {
        display: flexbox;
    }

    .inicio .contenido-banner .contenedor-img img {
        display: flex;
        width: 100px;
        height: 100px;
    }

    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media only screen and (max-width:600px) {
    
    .sobremi .fila  {
        display: block;
    }

    .sobremi .about-info {
        width: 300px;
        height: 700px;
    }

    .sobremi .about-info .col {
        display: flex;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portafolio .galeria {
        display: block;
        width: 100%;
    }

    .portafolio .galeria .proyecto {
        max-width: 100%;
    }

    .portafolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}

@media only screen and (max-width:700px) {
    .sobremi {
        display: flex;
        flex-wrap: wrap;
    }

    .sobremi .col {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }

    .sobremi .contenedor_intereses {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .sobremi .col .contenedor_intereses .interes {
        width: 35px;
        height: 35px;
        background: none;
        border-radius: 5px;
        margin: 10px 8% 10% 10px;
        display: flex;
        align-items: center;
        
    }


}

@media only screen and (min-width:900px) {

    .sobremi .contenedor_intereses {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        width: 1000px;
        height: 100px;

    }

    buttom 

    .about-info .col {
        width: 5px;
        height: 5px;
    }

    .sobremi .col .contenedor_intereses .interes {
        width: 1px;
        height: 1px;
        background: none;
        border-radius: 5px;
        margin: 1% 1% 1% 10%;
        display: flex;
        align-items: center;
    }

    .inicio .contenido-banner {
        padding: 20px;
        background-color: #2273a1;
        max-width: 550px;
        margin: auto;
        text-align: center;
        border-radius: 40px;
    }

    .sobremi .about-info {
        width: 950px;
        height: 500px;
    }

    .portafolio {
        height: 1000px;
    }

    .portafolio .contenido-seccion .galeria {
        width: auto;
        height: 900px;
    }

    .portafolio .contenido-seccion .galeria .proyecto {
        width: 400px;
        height: 500px;
        
    }

    .portafolio .contenido-seccion .galeria .proyecto img {
        width: 400px;
        height: 400px;
    }

    .portafolio .contenido-seccion .galeria .proyecto .overlay {
        width: 400px;
        height: 400px;
    }

    .inicio .contenido-banner img {
            margin-top: 2em;
            border:  7px solid rgb(248, 196, 136);
        
            margin: auto;
        
            border-radius: 50%;
        
            width: 10em;
        height: 20em;
        
    }

    .inicio .contenido-banner h1 {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    .inicio .contenido-banner h2 {
        width: 200px;
        height: 30px;
        font-size: 20px;
    }

    .inicio .contenido-banner .redes {
        width: 300px;
        height: 100px;
        margin: 10px 5px;
    }

    .sobremi .about-info h2 {
        width: 800px;
        height: 100px;
        font-size: 40px;
        padding: 10px 40px 0 ;
    }

    .sobremi .about-info p {
        width: 800px;
        height: 0px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 100px;
        margin-top: 0px;
    }

    .sobremi .about-info {
        max-width: 400px;
        margin: 40px 30px;
    }

}

@media only screen and (min-width:1000px) {

    .inicio .contenido-banner {
        padding: 20px;
        background-color: #2273a1;
        max-width: 550px;
        margin: auto;
        text-align: center;
        border-radius: 40px;
    }

    .inicio {
        height: auto;
        margin-top: 5em;
        margin-bottom: 1em;
    }
}
